@font-face {
  font-family: "Inter";
  src: url(assets/fonts/Inter-VariableFont_slnt\wght.ttf);
}
@font-face {
  font-family: "Inter";
  src: url(assets/fonts/static/Inter-Bold.ttf);
  font-weight: 700;
}
@font-face {
  font-family: "Inter";
  src: url(assets/fonts/static/Inter-Regular.ttf);
  font-weight: 400;
}
@font-face {
  font-family: "Inter";
  src: url(assets/fonts/static/Inter-SemiBold.ttf);
  font-weight: 600;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: hsl(0, 0%, 8%);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  font-family: "Inter";
}

.container {
  width: 400px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  gap: 20px;
  background-color: hsl(0, 0%, 12%);
  color: hsl(0, 0%, 100%);
  border-radius: 15px;
  margin: 10%;
  padding-top: 50px;
  padding-bottom: 50px;
}

.infos {
  display: flex;
  flex-direction: column;
  gap: 30px;
}
.infos .avatar-img img {
  border-radius: 100%;
  width: 35%;
}
.infos .who h2 {
  font-weight: 600;
}
.infos .who p {
  margin-top: 10px;
  color: hsl(75, 94%, 57%);
  font-size: 14px;
  font-weight: 600;
}

.infos .job p {
  font-size: 15px;
  margin-bottom: 5px;
}

.social-links {
  display: flex;
  flex-direction: column;
  width: 80%;
  gap: 15px;
}
.social-links a {
  text-decoration: none;
  background-color: hsl(0, 0%, 20%);
  padding: 10px;
  border-radius: 8px;
  color: hsl(0, 0%, 100%);
  font-weight: 600;
  font-size: 15px;
}
.social-links a:hover {
  background-color: hsl(75, 94%, 57%);
  color: hsl(0, 0%, 12%);
  transition: 0.3s ease;
}

@media (max-width: 400px) {
  .container {
    width: 300px;
    padding: 20px;
  }
  .infos {
    gap: 15px;
  }
  .infos .who h2 {
    font-size: 20px;
  }
  .infos .who p {
    font-size: 12px;
    margin-bottom: 10px;
  }
  .infos .job p {
    font-size: 12px;
  }
  .social-links {
    width: 95%;
  }
  .social-links a {
    font-size: 14px;
  }
}

.attribution {
  color: hsl(0, 0%, 100%);
}
.attribution a {
  text-decoration: none;
  color: hsl(75, 94%, 57%);
}
